body{
margin: 0;
padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: x:hidden;
    
}
header{
    margin-left: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
  object-fit: cover;
}
 .header-image{ 
    position:absolute;
    top:0px;
    margin-left: 0px;
    margin-right: 0px;
    z-index:-1; 
    width: auto;
       
}
.header-image img{
    padding: 0;
}




.nav{
    display: flex;
    margin: 2vh 4vw;
    justify-content: space-between;
    color: white;
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-bar{
display: flex;
}
.nav-bar li{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding-left: 30px;
}
 .head{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7vh;
    align-items: center;
} 
.logo{
    width: 20vw;
}
.head h2{
    font-size:2.1em;
    color: whitesmoke;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search{
    display: flex;
    width: 40vw;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding: 5px 0;
}
.search input{
    outline: none;
    border: none;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
}
.search p{
    color: gray;
    border-right: 1px solid gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-right: 10px;
}
.search i:first-child{
    font-size: 20px;
    color: rgb(252,119,119);
    padding-right: 10px;
}
.search i{
    color: grey;
    padding-left: 10px;
}
.sec-1{
    display: flex;
    justify-content: center;
    margin-top:40px ;
    margin-bottom: 13vh;
}
.box{
    position: relative;
    width: 350px;
    margin: 3px 5px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 2px 4px gray;
    background-color: rgb(243,240,240);
}
.box img{
    width: 100%;
    border-radius: 15px;
    border: 1px solid grey;
    z-index: -1;
}
.white{
    position:absolute;
     bottom: 3px;
    align-items: center;
    background-color: white;
    border-radius: 0 0 15px 15px;
    width: 100%;
    height: 25%;
    z-index: 2;
}
.white p{
    color: gray;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    
}
.middle{
    margin: 60px 150px;
    align-items: center;
}
.sec-2 h2{
    font-size:30px;
    font-weight: lighter;
    margin-bottom: 8px;
}
.sec-2 div{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 30px;
}
.sec-2 h5{
    margin: 0;
    font-size: 17px;
    font-weight: lighter;
    color: rgb(99,98,98);
}
.fa-solid-fa-caret-right,.sec-2 p{
color: rgb(248,117,117)
}
 .sec-3{
    display: flex;
    margin-bottom: 30px;
    margin-top: 3px;
    justify-content: center;
} 
.box-1{
    position: relative;
    width:250px;
    height: 450px;
    overflow: hidden;
    margin: 3px 5px;
    border-radius: 4px;
    
}
.box-1 div {
    position: absolute;
    background: -o-linear-gradient(transparent,black);
    font-size: 80px;
    width: 80%;
    height: 25%;
    display: flex;
    align-items: flex-end;
    bottom:25px;
} 
  .box-1 div p:first-child{
    display: inline-block;
    color: white;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 18px;
 }
 .box-1 img{
    width: 335;
    height: 400px;
 } 

 .sec-5{
    display: flex;
    margin: 90px 0;
    padding: 40px 0;
    justify-content: center;
    background-color: rgb(255,248,248);
 }

 .contact{
    width:760px;
    height: 450px;
    padding-right: 40px;
    display: flex;
 }
 .contact img{
    width: 500px;
    height: 450px;
 }
 .address{
    width: 470px;
    margin-top: 20px;
    padding-left: 10px;
 }
 .address p{
    padding-bottom: 10px;
    font-size: 0.95rem;
    color: rgb(92,91,91);
 }
 .address h2{
    font-size: 2.7rem;
    font-weight: lighter;
    margin-bottom:20px ;
    color: rgb(34,34,34);
 }
 .radio{
    display: flex;
    justify-content: space-between;
    margin-right: 230px;
 }
 .radio label{
    font-size: 1.1rem;
    color: rgb(49,49,49);
 }
 .radio[type="radio"]{
    accent-color: rgb(255,92,92);
 }
 .email{
    position: relative;
    display: flex;
 }
 .email input{
    height: 40px;
    border-radius: 5px;
    width: 250px;
    border: 1px solid rgb(184,183,183);
    outline: rgb(255,92,92);
    font-size: 1.3rem;
    padding-left: 15px;
 }
 .place{
    position: absolute;
    font-size: 1.3rem;
    left:15px;
    top:13px;
    color: gray;
    font-weight: lighter;
 }
 .email button{
    width: 150px;
    border-radius: 6px;
    bottom: 1px solid rgb(253,104,104);
    background-color: rgb(253,104,104);
    font-size: 1.1rem;
    margin-left: 6px;
    color: white;
 }
 .download{
    font-size:0.7rem;
    margin-top: 27px;
    margin-bottom: 0;
    color: gray;
 } 
 .app img{
    width: 55px;
    height: 48px;
 } 
 .sec-6{
    margin-bottom: 110px;
 }
 .sec-6 h1{
    font-size: 1.9rem;
    margin-bottom: 25px;
    font-weight: lighter;
    color: rgb(31,31,31);
 }
 .sec-6 h4{
    font-size: 1.4rem;
    margin-bottom: 25px;
    font-weight: lighter;
    color: rgb(31,31,31);
 }
 .end{
    display: flex;
    justify-content: center;
 }
 .sec-6{
    font-size: 190px;
    font-weight: bold;
 }
 .box-3{
    height: 70px;
    font-size: 80px;
    position: relative;
    width: 1050px;
    margin: 4px 4px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 2px gray;
    background-color: whitesmoke;
    margin-bottom: 3%;
 }
 .box-3 h4{
    font-size: 19px;
    font-weight: lighter;
 }
 .first.img{
    width: 128px;
    height: 32px;
 }
 .sec-7{
    padding: 40px 120px;
    background-color: rgb(244,244,253);
 }
 .first{
    display: flex;
    justify-content: space-between;
 }
 .first-1{
    display: flex;
 }
 .first-1 p{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 20px;
    font-weight: 400;
 }
 .second{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
 }
 .second h4{
    font-weight: lighter;
    color: rgb(22,22,22);
    white-space: nowrap;
 }
 .second a{
display: inline-block;
    width: 200px;
    margin-bottom:7px;
    white-space: nowrap;
    text-decoration: none;
    color: gray;
    font-size: 0.9rem;
 }
 .box-4{
    

 }
 .second img{
    width: 137px;
    height: 40px;
    margin-top: 11px;
    cursor: pointer;
 }
 .box-4 i{
    margin-left: 5px;
    margin-bottom: 5px;
 }
 .third{
    padding: 10px 0;
    color: gray;
    font-size: 0.7rem;
 }